/**
 * Toolbar tab icon.
 */
.toolbar-bar .toolbar-icon-happy-coding:before {
  background-image: url(../images/happy-coding.svg);
}
.toolbar-bar .toolbar-icon-happy-coding:active:before,
.toolbar-bar .toolbar-icon-happy-coding.is-active:before {
  background-image: url(../images/happy-coding.svg);
}
.toolbar .toolbar-bar .toolbar-icon.toolbar-icon-happy-coding:before {
  -webkit-mask-image: url(../images/happy-coding.svg);
  mask-image: url(../images/happy-coding.svg);
}
